@model IEnumerable<ClienteModel>

@{
    ViewData["Title"] = "Listado de clientes";
}

<h1>Listado de clientes</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mt-3 mb-3">
                <a asp-action="Create" asp-controller="Cliente" class="btn btn-success">
                    Nuevo Cliente
                </a>
            </div>
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                  <tr>
                      <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Direccion</th>
                        <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    @foreach (var cliente in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(item => cliente.IdCliente)</td>
                            <td>@Html.DisplayFor(item => cliente.Nombre)</td>
                            <td>@Html.DisplayFor(item => cliente.Apellido)</td>
                            <td>@Html.DisplayFor(item => cliente.Telefono)</td>
                            <td>@Html.DisplayFor(item => cliente.Correo)</td>
                            <td>@Html.DisplayFor(item => cliente.Direccion)</td>
                            <td>
                                <a asp-controller="Cliente" asp-action="Edit" asp-route-id="@cliente.IdCliente" class="btn btn-success">Editar</a>
"

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    
</div>